.slider-container {
  flex-wrap: wrap;
}
.slider-container img {
  min-width: 100px;
  min-height: 100px;
  height: 10vw;
  width: 10vw;
  transition: all 250ms ease-in-out;
}

.project-thumbnail {
  min-width: 200px;
  height: 250px;
  width: 20vw;
  transition: all 250ms ease-in-out;
}

.project-thumbnail:hover {
  background-color: rgba(16, 15, 15, 0.095);
}
.project-thumbnail:hover img{
  transform: scale(1.10);
}
