* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 3rem;
  width: 100%;
  color: black;
  position: sticky;
  top: 0px;
  z-index: 1000000;
  background-color: #2a9d8f;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
nav h1 {
  margin: 0;
}
nav a {
  margin: 0 1em;
  color: black;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
nav a:hover {
  color: chartreuse;
}
nav a[aria-current=page] {
  color: aqua;
}

.nav-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 100%;
  left: 0;
  width: 100%;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  background-color: #2a9d8f;
  -webkit-transform: translateY(-50%) scaleY(0);
          transform: translateY(-50%) scaleY(0);
}
.nav-dropdown[aria-expanded=true] {
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
}
.nav-dropdown a {
  padding: 15px 1em;
  font-size: 15px;
  text-justify: middle;
  z-index: 200;
  color: black;
}
.nav-dropdown a:hover {
  background-color: hsla(0deg, 80%, 0%, 0.5);
}

.dropdown-toggle {
  font-size: 2.5em;
  cursor: pointer;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.dropdown-toggle:hover {
  scale: 1.15;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .nav-dropdown,
.dropdown-toggle {
    display: none;
  }
}