* {
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  width: 100%;
  color: black;
  position: sticky;
  top: 0px;
  z-index: 1000000;
  background-color: #2a9d8fff;
  flex-wrap: wrap;



  a {
    margin: 0 1em;
    color: black;
    transition: 150ms ease-in-out;

    &:hover {
      color: chartreuse;
    }
  }

  a[aria-current="page"] {
    color: aqua;
  }

}

.nav-dropdown {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 100%;
  left: 0;
  width: 100%;
  transition: all 150ms ease-in-out;
  background-color: #2a9d8fff;
  transform: translateY(-50%) scaleY(0);


  &[aria-expanded="true"] {
    transform: translateY(0) scaleY(1);
  }


  a {
    padding: 15px 1em;
    font-size: 15px;
    text-justify: middle;
    z-index: 200;
    color: black;

    &:hover {
      background-color: hsl(0, 80%, 0%, 0.5);
    }


  }
}

.dropdown-toggle {
  font-size: 2.5em;
  cursor: pointer;
  transition: 150ms ease-in-out;

  &:hover {
    scale: 1.15;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}

@media screen and (min-width: 769px) {

  .nav-dropdown,
  .dropdown-toggle {
    display: none;
  }
}